.tab-content {
    padding: 20px;
    border: 1px solid #eee;
    border-top: none;
}

.btn-xs {
    border-radius: 20px;
}

h1, h2, h3, h4, h5{
    font-family: 'open_sanssemibold';
}

p, small, strong {
    margin: 10px 0;
    font-family: 'open_sansregular';
}